<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>
        <%=list.name%>
        <form action="/<%=list.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=list.name%>"><br>
        Attractions: <input type="text" name="items" value="<%=list.items[0]%>">
        <input type="text" name="items" value="<%=list.items[1]%>">
        <input type="text" name="items" value="<%=list.items[2]%>">
        <input type="text" name="items" value="<%=list.items[3]%>"><br>
        <input type="submit" value="Submit Changes">
        </form>
</body>
</html>